.button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-width: 1px;
  border-color: transparent;
}

.container {
  display: block;
  padding: 1rem;
  border-top: 1px solid;
  border-color: var(--gray-200);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content:last-child {
  margin-left: 1.25rem;
  flex-shrink: 0;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.25rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.dropdown {
  margin-left: 1.25rem;
  flex-shrink: 0;
}

.dropdown svg {
  fill: rgba(203, 213, 224, var(--gray-200));
  display: inline-block;
  vertical-align: middle;
}

.timestamp {
  color: var(--gray-400);
  display: flex;
  align-items: center;
}

.timestamp > time {
  margin-left: 0.25rem;
}
