.container {
  align-items: center;
  color: var(--text-gray-500);
  line-height: 1.875;
  font-size: 0.875rem;
  cursor: pointer;
  display: flex;
  padding: 0.675rem 1rem;
  justify-content: center;
}

.checkbox {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  height: 1.25rem;
  width: 2.5rem;
  border-radius: 9999px;
  cursor: pointer;
}

.checkbox:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.text {
  position: relative;
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 9999px;
  background-color: var(--white);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition-property: all;
  transform: translateX(var(--transform-translate-x)) translateY(0) rotate(0)
    skewX(0) skewY(0) scaleX(1) scaleY(1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: opacity;
}

@media (min-width: 768px) {
  .container {
    justify-content: start;
  }
}
