.stickyParent {
  display: unset;
}

.stickyContainer {
  position: -webkit-sticky;
  position: sticky;
  z-index: 3;
  top: 0;
  border-bottom: 1px solid var(--gray-200);
  border-color: var(--gray-100);
  background-color: var(--white);
  width: 100%;
  display: block;
  padding-top: 0.75rem;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.row {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.column {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex-shrink: 0;
  min-width: 100%;
  max-width: 100%;
}

.tabsContainer {
  width: 100%;
  box-shadow: none;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: space-between;
}

.tabsContainer > nav {
  justify-content: space-evenly;
}

.tabsContainer a.selected {
  font-weight: 600;
  color: var(--gray-600);
  border-bottom-color: #ab7281;
  outline: 1px dotted transparent;
  outline-offset: -1px;
}

.tabsContainer a.selected svg {
  color: inherit;
}

.tabLink {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.875rem;
  text-align: center;
  white-space: nowrap;
  background-color: initial;
  color: var(--gray-500);
  border: 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.36s ease-in;
  display: block;
}

.tabsContainer a:hover {
  color: var(--gray-600);
  text-decoration: none;
  border-bottom-color: #d1d5da;
  outline: 1px dotted transparent;
  outline-offset: -1px;
  transition-timing-function: ease-out;
  transition-duration: 0.12s;
}

.tabLink svg {
  color: #959da5;
}

@media (min-width: 768px) {
  .stickyContainer {
    padding-top: 1rem;
  }

  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .row {
    flex-direction: row;
  }

  .column:first-child {
    min-width: 30%;
    max-width: 30%;
  }

  .column:last-child {
    min-width: 70%;
    max-width: 70%;
  }

  .tabsContainer > nav {
    justify-content: start;
  }
}

@media (min-width: 1024px) {
  .stickyContainer {
    padding-top: 1.5rem;
  }

  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .row {
    margin-right: -1rem;
    margin-left: -1rem;
  }

  .column {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
