.container {
  grid-column: span 1 / span 1;
  background-color: var(--blue-100);
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.contentRow {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.textColumn {
  display: flex;
  align-items: center;
}

.weatherDesc {
  display: inline-block;
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1.25;
  font-weight: 500;
  border-radius: 9999px;
  margin-left: 0.75rem;
}

.image {
  width: 1rem;
  height: 1rem;
  background-color: var(--gray-300);
  border-radius: 9999px;
  flex-shrink: 0;
  filter: sepia(80);
}

.actionBtns {
  border-top-width: 1px;
  border-color: var(--gray-200);
}

.favorite {
  flex: 1 1 0%;
  display: flex;
  border-right-width: 1px;
  border-color: var(--gray-200);
}

.remove {
  flex: 1 1 0%;
  display: flex;
  margin-left: -1px;
}

.button {
  position: relative;
  flex: 1 1 0%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.375;
  color: var(--gray-600);
  font-weight: 500;
  border-width: 1px;
  border-color: transparent;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  color: var(--gray-400);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--shadow-outline-blue);
  border-color: var(--blue-300);
  z-index: 10;
}

.button:first-child {
  border-bottom-left-radius: 0.5rem;
  margin-right: -1px;
}

.button:last-child {
  border-bottom-right-radius: 0.5rem;
}

@media (min-width: 768px) {
  .weatherDesc {
    display: none;
  }
}

@media (min-width: 1024px) {
  .weatherDesc {
    display: inline-block;
  }
}