.container {
  padding: 1.25rem;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-direction: column-reverse;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.column {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  flex-shrink: 0;
  min-width: 100%;
  max-width: 100%;
}

.notes {
  margin-top: 1rem;
  background: var(--white);
  border-radius: 3px;
  border: 1px solid var(--gray-200);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.lists {
  overflow-y: scroll;
  max-height: 37vh;
}

.header {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid;
  border-color: var(--gray-200);
}

.button {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--blue-200);
  margin-top: 0.25rem;
  border-radius: 3px;
}

.favorite {
  display: flex;
}

.places {
  display: flex;
}

.actionButton {
  position: relative;
  flex: 1 1 0%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.375;
  color: var(--gray-600);
  font-weight: 500;
  border-width: 1px;
  border-color: var(--border-black);
  border-radius: 0.5rem;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.actionButton:hover {
  color: var(--gray-400);
}

.actionButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--shadow-outline-blue);
  border-color: var(--blue-300);
  z-index: 10;
}

.image {
  background-color: var(--gray-300);
  border-radius: 9999px;
  flex-shrink: 0;
}

.meta {
  font-size: 0.75rem;
}

.metaContainer {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-evenly;
  padding-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .row {
    flex-direction: row;
  }

  .column {
    margin-bottom: 0;
  }

  .column:first-child {
    min-width: 30%;
    max-width: 30%;
  }

  .column:last-child {
    min-width: 70%;
    max-width: 70%;
  }

  .meta {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .container,
  .column {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .row {
    margin-right: -1rem;
    margin-left: -1rem;
  }

  .metaContainer {
    align-self: unset;
    width: 60%;
    margin: 0 auto;
  }
}
