:root {
  --gray-100: #eaecef;
  --gray-200: #e1e4e8;
  --gray-300: #6a737d;
  --gray-400: #586069;
  --gray-500: #444d56;
  --gray-600: #24292e;
  --white: #fff;
  --blue-100: #e3f6fe;
  --blue-200: '#90cdf4';
  --blue-300: #39415a;
  --blue-400: #110f3b;
  --blue-500: #0366d6;
  --blue-600: #03020d;
  --yellow-100: #ffc200;
  --border-black: rgba(27, 31, 35, 0.15);
  --shadow-outline-blue: rgba(66, 153, 225, 0.5);
}

a {
  color: var(--blue-500);
  cursor: pointer;
}

svg {
  fill: currentColor;
}

.h-3 {
  height: 0.75rem;
}

.h-16 {
  height: 4rem;
}

.h-screen {
  height: 100vh;
}

.w-0 {
  width: 0;
}

.w-3 {
  width: 0.75rem;
}

.w-screen {
  width: 100vw;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.p-4 {
  padding: 1rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.text-sm {
  font-size: 0.875rem;
}

.leading-snug {
  line-height: 1.375;
}

.font-medium {
  font-weight: 500;
}

.text-gray-500 {
  color: var(--gray-500);
}

.text-gray-600 {
  color: var(--gray-600);
}

.text-yellow-100 {
  color: var(--yellow-100);
}

.bg-gray-200 {
  background-color: var(--gray-200);
}

.bg-blue-400 {
  background-color: var(--blue-400);
}

.bg-blue-500 {
  background-color: var(--blue-500);
}

.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.relative {
  position: relative;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.duration-100 {
  transition-duration: 100ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.translate-x-0 {
  --transform-translate-x: 0;
}

.translate-x-5 {
  --transform-translate-x: 1.25rem;
}

.align-text-bottom {
  vertical-align: text-bottom;
}
